/* Viewport Meta Tag */
<meta name="viewport" content="width=device-width, initial-scale=1.0">

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 54px;
  color: #333;
}

@media (min-width: 992px) {
  body {
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #2C3E50;
}

h1 {
  font-size: 3.5rem; /* Adjusted for smaller screens */
  line-height: 3.5rem; /* Adjusted for smaller screens */
}

h2 {
  font-size: 2.5rem; /* Adjusted for smaller screens */
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem; /* Adjusted for smaller screens */
}

.list-social-icons a {
  color: #3498DB;
}

.list-social-icons a:hover {
  color: #E74C3C;
}

.list-social-icons a .fa-lg {
  font-size: 1.5rem; /* Adjusted for smaller screens */
}

.list-icons {
  font-size: 2rem; /* Adjusted for smaller screens */
}

.list-icons .list-inline-item i:hover {
  color: #E74C3C;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    width: 15rem; /* Adjusted for smaller screens */
  }
}

section.resume-section {
  border-bottom: 1px solid #8B8B8B;
  padding: 0 !important; /* Remove all padding */
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: auto; /* Adjusted for smaller screens */
  }
  section.resume-section .resume-item .resume-date {
    min-width: 15rem; /* Adjusted for smaller screens */
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding: 1rem 0 !important; /* Adjusted for smaller screens */
  }
}

.bg-primary {
  background-color: #3498DB !important;
}

.text-primary {
  color: #3498DB !important;
}

a {
  color: #3498DB;
}

a:hover,
a:focus,
a:active {
  color: #cd4232;
}
